img {
    width: 10%;
    display: flex;
}

body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./istojpg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
    height: 100svh;
    background-color: rgb(3, 3, 37);

}

.section1 {
    position: relative;
    height: 200px;
}

.game-image {
    width: 5%;
    height: auto;
    position: absolute;
    object-fit: cover;
}

.div1 {

    animation: moveToRight 6s alternate forwards;
    top: 2%;
    left: 11%;

}


.div2 {

    right: 11%;
    animation: moveToLeft 6s 3s alternate forwards;
    top: 40%;
}

.div3 {

    left: 11%;
    animation: moveToRight 6s 6s alternate forwards;
    top: 80%;
}

.div4 {

    right: 11%;
    animation: moveToLeft 6s 8s alternate forwards;
    top: 120%;
}

.div5 {

    left: 11%;
    animation: moveToRight 6s 10s alternate forwards;
    top: 155%;
}

.div6 {

    right: 11%;
    animation: moveToLeft 6s 12s alternate forwards;
    top: 195%;
}

.div7 {

    left: 11%;
    animation: moveToRight 6s 14s alternate forwards;
    top: 270%;
}

.div8 {

    right: 11%;
    animation: moveToLeft 6s 16s alternate forwards;
    top: 235%;
}

@keyframes moveToRight {

    0%,
    33.33% {
        left: 11%;
    }

    66.66%,
    100% {
        left: 85%;
    }
}

@keyframes moveToLeft {

    0%,
    33.33% {
        right: 11%;
    }

    66.66%,
    100% {
        right: 85%;
    }
}